.container
  .row
    .col-lg-6
      .container
        %h3.text-danger.font-weight-bold.text-center.mt-4 Sign Up For Yep
        %h6.font-weight-bold.text-center.mb-3 Connect with great local businesses
        = bootstrap_form_for @user do |form|
          .form-row.mb-2
            .col
              = form.text_field :first_name, hide_label: true, placeholder: "First Name", required: true
            .col
              = form.text_field :last_name, hide_label: true, placeholder: "Last Name", required: true
          = form.text_field :email, hide_label: true, placeholder: "Email", required: true
          = form.password_field :password, hide_label: true, placeholder: "Password", required: true
          = form.text_field :city, hide_label: true, placeholder: "City/Town"
          %h6.font-weight-bold
            Birthday
            %span.font-weight-normal.text-muted.small Optional
          = render "birthday_field", user: @user, form: form
          = form.button "Sign Up", class: "btn btn-block btn-danger my-4"
    
        %p.text-muted.small 
          Already on Yep?
          %span
            = link_to "Log in", login_path
            
        
    .d-none.d-lg-block.col-lg-6
      %img.img-fluid.mt-5.pt-5(src="/images/city.png")