.container
  .row.mt-5
    .col-md-8
      %h5.text-danger.font-weight-bold Update Your Settings
      %hr
        = bootstrap_form_tag url: "/settings/#{current_user.slug}", method: :put do |form|
          = form.label(:old_password) do
            Current Password
          = form.password_field :old_password, hide_label: true, class: "form-control-sm"
          = form.label(:password) do
            New Password
          = form.password_field :password, hide_label: true, class: "form-control-sm"
          = form.label(:password) do
            Verify New Password
          = form.password_field :password_confirmation, hide_label: true, class: "form-control-sm"
          = form.submit "Save New Password", class: "btn btn-danger"
          = link_to "Cancel", :back