%li.mb-4
  .card
    - if display_card_header
      .card-header
        %span.font-weight-bold Review for 
        = link_to review.business.name, business_path(review.business)
    .card-body
      .row
        .col-sm-4.mb-3
          .row
            .col-md-4
              %i.far.fa-user.fa-3x.text-secondary.bg-light.p-1.mb-3
            .col-md-8
              = render 'users/profile', user: review.user
        .col-sm-8
          .card-title
            .mb-2
              = render 'reviews/star_details', business: review.business
              %span.ml-2.text-secondary 
                = review.created_at.strftime("%d/%m/%Y")
              - if review.user == current_user
                = link_to edit_business_review_path(review.business, review), class: 'd-block' do
                  %i.fas.fa-pen.mr-2
                  Edit
          .card-text
            = review.body